<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dormitory, style: "display: block" %>
    <%= form.check_box :dormitory %>
  </div>

  <div>
    <%= form.label :experiance, style: "display: block" %>
    <%= form.number_field :experiance %>
  </div>

  <div>
    <%= form.label :isTeacher, style: "display: block" %>
    <%= form.check_box :isTeacher %>
  </div>

  <div>
    <%= form.label :faculty, style: "display: block" %>
    <%= form.text_field :faculty %>
  </div>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
