<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Dormitory:</strong>
    <%= student.dormitory %>
  </p>

  <p>
    <strong>Experiance:</strong>
    <%= student.experiance %>
  </p>

  <p>
    <strong>Isteacher:</strong>
    <%= student.isTeacher %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= student.faculty %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= student.language %>
  </p>

</div>
